html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

#addContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(28,87,101,0.8);
    width: 50%;
    margin: 30px auto;
    color: rgb(241, 203, 32);
    padding: 2%;
    border-radius: 10%;
    box-shadow: 0.3em 0.3em rgb(55, 125, 34), 0.3em 0.3em rgba(255,255,255,0.4) inset;
}

.addInstructions {
    padding: 3%;
    line-height: 1.3em;
}

#addContainer h1 {
    font-family: 'Courier New', Courier, monospace;
}

#addContainer h2 {
    border: none;
    padding: 10px;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 1%;
    border-radius: 20px;
}

.addInput {
    background-color: rgba(28,87,101,0.8);
    color: rgba(241, 203, 32, 0.7);
    box-shadow: 0.1em 0.1em rgb(28, 63, 17), 0.1em 0.1em rgba(255,255,255,0.4) inset;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 30%;
    margin-bottom: 1%;
}

.addInput:hover, .addInput:focus {
    outline: none;
    background: rgb(147, 194, 147);
    color: black;
}

.addButton {
    background-color: rgba(28,87,101,0.8);
    border: none;
    box-shadow: 0.1em 0.1em rgb(28, 63, 17), 0.1em 0.1em rgba(255,255,255,0.4) inset;
    color: rgba(241, 203, 32, 0.7);
    border-radius: 20px;
    padding: 10px;
    width: 30%;
}

.addButton:hover, .addButton:focus {
    background: rgb(147, 194, 147);
    outline: none;
    cursor: pointer;
    color: black;
}

#addedItems {
    width: 40%;
    height: 500px;
    overflow: scroll;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 20px;
    box-shadow: 0.1em 0.1em rgb(28, 63, 17), 0.1em 0.1em rgba(255,255,255,0.4) inset;
    
}

.choice {
    list-style: none;
    margin-left: -30px;
    margin-bottom: 1%;
}