html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

@media only screen and (max-width: 500px){
    #addcontainer {
        width: 100%; 
    }
}

#addContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(28,87,101,0.62);
    width: 600px;
    margin: 30px auto;
    margin-bottom: 0; 
    color: rgb(241, 203, 32);
    padding: 2%;
    border-radius: 10%;
    box-shadow: 0.3em 0.3em rgb(55, 125, 34), 0.3em 0.3em rgba(255,255,255,0.4) inset;
}

.addInstructions {
    padding: 3%;
    line-height: 1.3em;
}

#addContainer h1 {
    font-family: 'Courier New', Courier, monospace;
}

#addContainer textarea {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold; 
    font-size: 40px;
    text-align: center; 
    color: rgb(241, 203, 32);
    background: none;
    border: none;
    outline: none; 
    height: 50px;
    width: 100px;
    resize: none; 

}

#addContainer button {
    background-color: rgba(28,87,101,0.8);
    color: rgba(241, 203, 32, 0.7);
    box-shadow: 0.1em 0.1em rgb(28, 63, 17), 0.1em 0.1em rgba(255,255,255,0.4) inset;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 30%;
    margin-bottom: 1%;
    outline: none; 
    cursor: pointer;
}

#addContainer h2 {
    border: none;
    padding: 10px;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 1%;
    border-radius: 20px;
}

.addInput {
    background-color: rgba(28,87,101,0.8);
    color: rgba(241, 203, 32, 0.7);
    box-shadow: 0.1em 0.1em rgb(28, 63, 17), 0.1em 0.1em rgba(255,255,255,0.4) inset;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 30%;
    margin-bottom: 1%;
}

.addInput:hover, .addInput:focus {
    outline: none;
    background: rgb(147, 194, 147);
    color: black;
}

.addButton {
    background-color: rgba(28,87,101,0.8);
    border: none;
    box-shadow: 0.1em 0.1em rgb(28, 63, 17), 0.1em 0.1em rgba(255,255,255,0.4) inset;
    color: rgba(241, 203, 32, 0.7);
    border-radius: 20px;
    padding: 10px;
    width: 30%;
    cursor: pointer;
}

.addButton:hover, .addButton:focus {
    background: rgb(147, 194, 147);
    outline: none;
    cursor: pointer;
    color: black;
}

#addedItems {
    font-family: 'Gochi Hand', cursive; 
    width: 75%;
    height: 300px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 20px;
    box-shadow: 0.1em 0.1em rgb(28, 63, 17), 0.1em 0.1em rgba(255,255,255,0.4) inset;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden; 
   
    
}

.choice {
    list-style: none;
    width: 40%;
    height: 35px;
    margin: 10px;
    background-color: rgba(28,87,101,0.8);
    border: none;
    box-shadow: 0.1em 0.1em rgb(28, 63, 17), 0.1em 0.1em rgba(255,255,255,0.4) inset;
    color: rgba(241, 203, 32, 0.7);
    border-radius: 20px;
    padding: 10px;
    overflow-x: auto;

}


.rotate-scale-up {
	-webkit-animation: rotate-scale-up 0.65s linear both;
	        animation: rotate-scale-up 0.65s linear both;
}

@-webkit-keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  @keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  