

.roomwrap {
    height: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
}


.chatbox {
    border: solid 1px black;
    width: 30%;
    height: 50%;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
    text-align: start;
    background-color: rgba(28,87,101,0.8);
    box-shadow: 0.3em 0.3em rgb(55, 125, 34), 0.1em 0.1em rgba(255,255,255,0.4) inset;
    
}
.sendmessage {
    border: solid 1px black;
    border-radius: 5px; 
    margin-top: 10px;
    width: 30%;
    align-self: center;
    background-color: rgba(28,87,101,0.8);
    box-shadow: 0.3em 0.3em rgb(55, 125, 34), 0.1em 0.1em rgba(255,255,255,0.4) inset;
}

#submitform {
    outline: none;
    border: none;
    width: 85%;
    margin: 0;
    padding-left: 10px;
    margin-top: 10px;
    height: 42px;
    border-radius: 5px; 
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: none;
    
}

#submitButton {
    height: 63px;
    width: 15%;
    border: none;
    border-left: solid 1px black;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
    background: none; 
    
}

#submitButton i {
    font-size: 20px;
}

.message {
    display: inline-block;
    margin-left: 5px;
    border: solid 1px black;
    border-radius: 5px;
    margin-left: 10px; 
    word-wrap: break-word;
    padding: 10px;
    overflow: hidden;

}

.messagebox {
    font-size: 15px;
    width: 300px;
    margin-left: 10px;  
    word-wrap: break-word;
    display: flex;
    align-items: center;
    margin: 30px;
   

}

.user {
    margin: 10px; 
    display: inline-block; 
    margin-right: 2px; 
}

.slide-out-fwd-center {
    margin-left: 10px;
    font-size:20px;
	-webkit-animation: slide-out-fwd-center 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
            animation: slide-out-fwd-center 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
    
}


@-webkit-keyframes slide-out-fwd-center {
    0% {
      -webkit-transform: translateZ(1);
              transform: translateZ(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(600px);
              transform: translateZ(600px);
      opacity: 0;
    }
  }
  @keyframes slide-out-fwd-center {
    0% {
      -webkit-transform: translateZ(1);
              transform: translateZ(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(600px);
              transform: translateZ(600px);
      opacity: 0;
    }
  }
  