.joincontainer {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto; 
    margin-top: 40px; 
    background-color: rgba(28,87,101,0.62);
    width: 50%;
    color: rgb(241, 203, 32);
    padding: 2%;
    border-radius: 10%;
    box-shadow: 0.3em 0.3em rgb(55, 125, 34), 0.3em 0.3em rgba(255,255,255,0.4) inset;
}

#join {
    font-family: 'Bungee Shade', cursive;
    font-size: 40px;
    color: rgba(241, 203, 32);
}

.joinform {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.joinform input {
    color: rgba(241, 203, 32, 0.735);
}

.joinform input::placeholder {
    color: black;
}

.joinInstructions {
    line-height: 1.3em;
    margin-bottom: 3%;
}

.joinform button {
    background-color: rgba(28,87,101,0.8);
    color: rgb(241, 203, 32);
    border: none;
    border-radius: 20px; 
    height: 30px;
    box-shadow: 0.1em 0.1em rgb(28, 63, 17), 0.1em 0.1em rgba(255,255,255,0.4) inset;
}

.joinform button:hover, .joinform button:focus {
    outline: none;
    background: rgb(147, 194, 147);
    color: black;
}
.joinform button:hover {
    background: rgb(147, 194, 147);
}

.enterinfo {
    margin: 10px;
    height: 30px;
    border-radius: 20px;
    padding: 10px;
    border: none;
    background-color: rgba(28,87,101,0.8);
    color: rgba(241, 203, 32, 0.7); 
    outline: none; 
    box-shadow: 0.1em 0.1em rgb(28, 63, 17), 0.1em 0.1em rgba(255,255,255,0.4) inset;
}

.enterinfo:hover, .enterinfo:focus {
    outline: none;
    background: rgb(147, 194, 147);
    color: black;
}

.joinform h1 {
    font-family: 'Bungee Shade', cursive;
    color: rgba(241, 203, 32, 0.735);
}
