html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

@media only screen and (max-width: 500px){
    #newRoomContainer {
        width: 100%; 
    }
}

#newRoomContainer {
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    background-color: rgba(28,87,101,0.62);
    width: 600px;
    color: rgb(241, 203, 32);
    padding: 2%;
    border-radius: 10%;
    box-shadow: 0.3em 0.3em rgb(55, 125, 34), 0.3em 0.3em rgba(255,255,255,0.4) inset;
}

#welcome {
    font-family: 'Bungee Shade', cursive;
    color: rgb(241,203,32);
    font-size: 50px;
}

#newInstructions {
    line-height: 1.3em;
    margin-bottom: 3%;
}

.newRoomForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newRoomForm ul li {
    list-style: none;
    margin-left: -20px;
}

.newRoomInput {
    background-color: rgba(28,87,101,0.8);
    color: rgba(241, 203, 32, 0.7);
    border: none;
    box-shadow: 0.1em 0.1em rgb(28, 63, 17), 0.1em 0.1em rgba(255,255,255,0.4) inset;
    border-radius: 20px;
    padding: 10px;
    width: 30%;
    margin-bottom: 1%;
}

.newRoomInput:hover, .newRoomInput:focus {
    color: black;
    outline: none;
    background: rgb(147, 194, 147);
}

.newRoomButton {
    background-color: rgba(28,87,101,0.8);
    border: none;
    box-shadow: 0.1em 0.1em rgb(28, 63, 17), 0.1em 0.1em rgba(255,255,255,0.4) inset;
    color: rgba(241, 203, 32, 0.7);
    border-radius: 20px;
    padding: 10px;
    width: 30%;
}

.newRoomButton:hover, .newRoomButton:focus {
    background: rgb(147, 194, 147);
    outline: none;
    background: rgb(182, 240, 182);
    color: black;
}

.newRoomForm h2 {
    font-family: 'Bungee Shade', cursive;
    color: rgb(241,203,32);
    font-size: 40px;
}

.randomcat {
    margin-top: 5px;
    box-shadow: 0.1em 0.1em rgb(28, 63, 17), 0.1em 0.1em rgba(255,255,255,0.4) inset;
    border-radius: 20px;
    padding: 10px;
    width: 75%;
    display: flex; 
    flex-wrap: wrap; 
    height: 50px;
    justify-content: center;
    background-color: rgba(28,87,101,0.8);
}

.randomcat li {
    height: 20px;
    width: 80px;
    margin: 5px 9px; 
}