#removeContainer {
    border: 1px solid black;
    width: 30%;
    margin: 5% auto;
    text-align: center;
    border-radius: 20px;
}

#removeContainer h1 {
    font-family: 'Courier New', Courier, monospace;
}

#removeContainer ul li {
    list-style: none;
    margin-left: -30px;
    margin-bottom: 1%;
}

#removeContainer ul li:hover {
    cursor: pointer;
}